@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    /*글꼴 지정 */
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    /* font-family: '배민체', '바탕';
    font-size: 20px;
    /*순서대로 찾아주고 있는 폰트부터 적용*/
    color:
} */
h1 {
    /* 글자 크기 변경 */
    /* font-size: medium; 키워드로 조절*/
    /* 키워드로 조절은 사용하지 않음 정확한 의도를 알 수 없기 때문 */
    /* px로 조절 */
    /* font-size: 100px; */

    /* em으로 조절 (부모요소 기준 배율)*/
    /* font-size: 2em; */

    /* rem으로 조절(최상위 요소 기준 배율) */
    /* font-size: 2rem; */
}
p {
    /*폰트 굵기 */
    /*키워드 조절 */
    /* font-weight: lighter; */

    /* 숫자를 통해 조절 (100~900, 100단위) */
    font-weight: 400;

}
