.color-name {
    color: red;
}
.color-hex {
    color: #ff0000
}
.color-rgb {
    color: rgb(255, 255, 0);
}
.color-rgba {
    color: rgb(250, 100, 100, 0.5);
}
.color-hsla {
    color: hsl(225, 100%, 30%);
}
 
/* 텍스트 정렬 */
#p-center {
    text-align:center;
}
#p-right {
    text-align:right;
}
#p-left {
    text-align: left;
}
.div-center {
    width: 200px;
    height: 200px;
    background-color: bcurlywood;
}
.div-center p {
    text-align: center;
    line-height: 200px; /* 줄간격 조절을 통해 중앙으로 정렬 */
}

/* 영어 첫번째 글자를 대문자로 변환 */
.capitalize {
    text-transform: capitalize;
}

/* 텍스트를 영어 대문자로 변화 */
.uppercase {
    text-transform: uppercase;
}

/* 텍스트를 영어 소문자로 변환 */
.lowercase {
    text-transform: lowercase;
}
.letter-spacing {
    letter-spacing: 1.5rem;
}

/* 단어 간격 설정 */
.word-spacing {
    word-spacing: 2rem;
}

/* 텍스트 그림자 설정 */
.shadow {
    text-shadow: -5px -5px 10px red;
}
    